{% extends "/../layout/index.html.twig" %}

{% block title %}Badges - {% endblock %}

{% block nav %}
    <ul class="nav">
        {% for item in nav %}
            {% if item.title == active %}
                <li class="active"><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% else %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <h3>Conference Badges</h3>
    <p>Looking for banners? Click <a href="/banners">here</a>.</p>
    <br>
    <div class="row-fluid">
        <div class="span4">
            <img src="/badges/logo.jpg">
        </div>
        <div class="span8">
            <textarea rows="5" style="width: 410px">
&lt;!-- Start MidwestPHP Badge --&gt;
&lt;a href="http://www.midwestphp.org" target="_blank"&gt;
&lt;img src="http://www.midwestphp.org/badges/logo.jpg" border="0" alt="MidwestPHP" /&gt;
&lt;/a&gt;
&lt;!-- End Badge --&gt;
            </textarea>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <img src="/badges/attendee.png">
        </div>
        <div class="span8">
            <textarea rows="5" style="width: 410px">
&lt;!-- Start MidwestPHP Badge --&gt;
&lt;a href="http://www.midwestphp.org" target="_blank"&gt;
&lt;img src="http://www.midwestphp.org/badges/attendee.png" border="0" alt="MidwestPHP" /&gt;
&lt;/a&gt;
&lt;!-- End Badge --&gt;
            </textarea>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <img src="/badges/speaker.png">
        </div>
        <div class="span8">
            <textarea rows="5" style="width: 410px">
&lt;!-- Start MidwestPHP Badge --&gt;
&lt;a href="http://www.midwestphp.org" target="_blank"&gt;
&lt;img src="http://www.midwestphp.org/badges/speaker.png" border="0" alt="MidwestPHP" /&gt;
&lt;/a&gt;
&lt;!-- End Badge --&gt;
            </textarea>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <img src="/badges/sponsor.png">
        </div>
        <div class="span8">
            <textarea rows="5"  style="width: 410px">
&lt;!-- Start MidwestPHP Badge --&gt;
&lt;a href="http://www.midwestphp.org" target="_blank"&gt;
&lt;img src="http://www.midwestphp.org/badges/sponsor.png" border="0" alt="MidwestPHP" /&gt;
&lt;/a&gt;
&lt;!-- End Badge --&gt;
            </textarea>
        </div>
    </div>
{% endblock %}
