{% extends "../layout/index.html.twig.twig" %}

{% block nav %}
    <ul class="nav">
        {% for item in nav %}
            {% if item.title == active %}
                <li class="active"><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% else %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}

    <h3>Banners</h3>
    <p>Looking for badges? Click <a href="/badges">here</a>.</p>
    <br>
    <div class="row-fluid">
        <div class="span4">
            <img src="/badges/logo.jpg" width="150">
        </div>
        <div class="span8">
            <textarea>&lt;!-- Start MidwestPHP Badge --&gt;
                &lt;a href="http://www.midwestphp.org" target="_blank"&gt;
                &lt;img src="http://www.midwestphp.org/badges/logo.jpg" border="0" alt="MidwestPHP" /&gt;
                &lt;/a&gt;
                &lt;!-- End Badge --&gt;
            </textarea>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            Logo
            <div class="row-fluid">
                <div class="span4">
                    <img src="/badges/logo.jpg" width="150">
                </div>
                <div class="span8">
                    <textarea>&lt;!-- Start MidwestPHP Badge --&gt;
                        &lt;a href="http://www.midwestphp.org" target="_blank"&gt;
                        &lt;img src="http://www.midwestphp.org/badges/logo.jpg" border="0" alt="MidwestPHP" /&gt;
                        &lt;/a&gt;
                        &lt;!-- End Badge --&gt;
                    </textarea>
                </div>
            </div>
        </div>

    </div>

    <div class="row-fluid">
        <div class="span12">
            300 x 100
            <div class="row-fluid">
                <div class="span4">
                    <img src="/badges/300x100.png">
                </div>
                <div class="span8">
                    <textarea>&lt;!-- Start MidwestPHP Badge --&gt;
                        &lt;a href="http://www.midwestphp.org" target="_blank"&gt;
                        &lt;img src="http://www.midwestphp.org/badges/300x100.png" border="0" alt="MidwestPHP" /&gt;
                        &lt;/a&gt;
                        &lt;!-- End Badge --&gt;
                    </textarea>
                </div>
            </div>
        </div>
    </div>

{% endblock %}