{% extends "/../layout/index.html.twig" %}

{% block title %}Contact - {% endblock %}

{% block nav %}
    <ul class="nav">
        {% for item in nav %}
            {% if item.title == active %}
                <li class="active"><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% else %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <h3>Contact</h3>
    <p>Please email Mike Stowe me[at]mikestowe.com or call 507-304-0148 for more information.</p>

    <p>Thank you!</p>
{% endblock %}
