{% extends "/../layout/index.html.twig" %}

{% block nav %}
    <ul class="nav">
        {% for item in nav %}
            {% if item.title == active %}
                <li class="active"><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% else %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<style>
.iframe-rwd  {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.iframe-rwd iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
</style>
<h3>Venue</h3>
<p>The MidwestPHP 2013 conference will be held at the University of Minnesota continuing Education Conference Center located in Saint Paul Minnesota.</p>
<div class="iframe-rwd"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=University+of+Minnesota+Continuing+Education+%26+Conference+Center,+Buford+Avenue,+Saint+Paul,+MN&amp;aq=0&amp;oq=University+of+Minnesota+Contin&amp;sll=46.44186,-93.36129&amp;sspn=9.160786,22.214355&amp;t=m&amp;ie=UTF8&amp;hq=University+of+Minnesota+Continuing+Education+%26+Conference+Center,+Buford+Avenue,+Saint+Paul,+MN&amp;ll=44.986216,-93.17831&amp;spn=0.010624,0.018239&amp;z=15&amp;output=embed&amp;iwloc=&amp;"></iframe></div>

<small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=University+of+Minnesota+Continuing+Education+%26+Conference+Center,+Buford+Avenue,+Saint+Paul,+MN&amp;aq=0&amp;oq=University+of+Minnesota+Contin&amp;sll=46.44186,-93.36129&amp;sspn=9.160786,22.214355&amp;t=m&amp;ie=UTF8&amp;hq=University+of+Minnesota+Continuing+Education+%26+Conference+Center,+Buford+Avenue,+Saint+Paul,+MN&amp;ll=44.986216,-93.17831&amp;spn=0.010624,0.018239&amp;z=15" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
{% endblock %}

{% block title %}
Venue - 
{% endblock %}
