/**
 * Footer Styles
 */

footer {
  background: #1b3149;
  font-family: "Roboto Condensed", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0;
  label {
    font-family: "Roboto Condensed", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: 0;
  }
  .mailing-list {
    /* Newsletter: */
    height: 135px;
    display: table;
    width: 100%;
    padding: 2vh;
    .row {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .bottom-links {
    /* Contact Code Of Cond: */
    opacity: 0.75;
    font-family: "Roboto Condensed", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 0;
    /* Copyright © 2016 Mid: */

    background: #122232;
    height: 75px;
    display: table;
    width: 100%;
    text-wrap: none;
    a {
      color: #c4c7cc;
      font-weight: bold;
    }
    .social-media > li {
      opacity: 0.29;
      font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #5a646e;
    }
  }
}

