@font-face {
  @import 'https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700';
}

.hero {

  &.venue {
    background: url('../img/radisson2.png') no-repeat center center;
    background-size: cover;
  }

  background: url('../img/map2.1.png') no-repeat center center;
  background-size: cover;
  height: 120vh;
  max-height: 604px;
  position: relative;

  .intro {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
  }

  h1 {
    color: #fff;
    text-align: center;
  }

  p {
    opacity: 0.5;
    color: #fff;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
  }

  .top-bar, .top-bar ul {
    background: none;
  }

  .top-bar-left {
    width: 100%;
  }

  .title-bar {
    background: none;
  }

  .menu {
    margin-top: 20px;
    > li > a {
      padding: 0.7rem 0;
      margin: 0 1rem;
      color: $white;
      &.button {
        padding: 0.7rem 1rem;
      }
      &.active {
        border-bottom: 2px solid #26A9E0;
      }
    }
  }
}

@include breakpoint(medium down) {
  .hero {
    margin: 0;
    .intro {
      top: 45%;
    }
  }
}
