@font-face {
  @import 'https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700';
}

.hero {
  background: url('../img/map.png') no-repeat center center;
  background-size: cover;
  height: 120vh;
  max-height: 604px;
  margin: 18px;
  max-width: 1400px;
  position: relative;

  .row {
    margin-top: 10px;
  }

  .intro {
    position: relative;
    top: 55%;
    transform: translateY(-50%);
  }

  h1 {
    font-family: "Roboto";
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-family: "Roboto";
    //font-size: 1.5rem;
    opacity: 0.5;
    color: #fff;
    //line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
  }

  .top-bar, .top-bar ul {
    background: none;
  }
  .top-bar {
    padding: 0;
  }

  .top-bar-left {
    width: 100%;
  }

  .title-bar {
    background: none;
  }

  .menu {
    margin-top: 20px;
    > li > a {
      color: $white;
    }

  }
}

@include breakpoint(medium down) {
  .hero {
    margin: 0;
    .intro {
      top: 45%;
    }
  }
}