.registration-page {
  .background {
    background: #D8D8D8;
    margin-bottom: 100px;
    .mask1 {
      background-image: radial-gradient(50% 87%, #344E6E 4%, #1D3149 88%);
      background-blend-mode: multiply;
      .mask2 {
        background-image: radial-gradient(50% 87%, #344E6E 4%, #1D3149 88%);
        background-blend-mode: normal;
      }
    }
  }
  .top-bar {
    background: transparent;
    ul {
      background: transparent;
    }
  }
  .top-bar-left {
    width: 100%;
  }

  h1, h2, h3 {
    color: #1B3149;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1;
    small {
      color: #26A9E0;
    }
  }

  p {
    color: #444444;
  }
}
