<footer>
    <div class="mailing-list">
        <div class="row">
            <div class="large-4 large-centered">
                <form action="//midwestphp.us6.list-manage.com/subscribe/post?u=997a6609e4841195621a16d55&amp;id=b632b88998"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                      target="_blank" novalidate>
                    <label for="mce-EMAIL">Subscribe to Midwest PHP:</label>
                    <div class="input-group">
                        <input type="email" value="" name="EMAIL" class="input-group-field email" id="mce-EMAIL"
                               placeholder="email address" required>
                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_997a6609e4841195621a16d55_b632b88998" tabindex="-1" value="">
                        </div>

                        <div class="input-group-button">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-links">
        <div class="row">
            <div class="medium-12 medium-centered">
                <div class="row">
                    <div class="medium-4 columns">
                        <ul class="menu">
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="code-of-conduct.html">Code of Conduct</a></li>
                        </ul>
                    </div>
                    <div class="medium-offset-3 medium-5 columns end">
                        <ul class="menu social-media">
                            <li class="menu-text">Copyright &copy; 2016 Midwest PHP</li>
                            <li><a href="https://twitter.com/midwestphp" target="_blank"><i class="fi-social-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/midwestconf" target="_blank"><i class="fi-social-facebook"></i></a>
                            </li>
                            <li><a href="https://flickr.com/midwestphp" target="_blank"s><i class="fi-social-flickr"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>