<footer>
    <div class="mailing-list">
        <div class="row">
            <div class="large-4 large-centered">
                <div class="input-group">
                    <span class="input-group-label">Newsletter</span>
                    <input class="input-group-field" type="number">
                    <div class="input-group-button">
                        <input type="submit" class="button" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-links">
        <div class="row">
            <div class="large-offset-1 large-4 medium-5 columns">
                <ul class="menu">
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="code-of-conduct.html">Code of Conduct</a></li>
                </ul>
            </div>
            <div class="large-offset-1 large-5 medium-7 columns">
                <ul class="menu social-media">
                    <li class="menu-text">Copyright &copy; 2016 Midwest PHP</li>
                    <li><a href="https://twitter.com/midwestphp"><i class="fi-social-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/midwestconf"><i class="fi-social-facebook"></i></a></li>
                    <li><a href="https://flickr.com/midwestphp"><i class="fi-social-flickr"></i></a></li>
                </ul>
            </div>
            <div class="large-1 visible-large-onlu"></div>
        </div>
    </div>
</footer>