<nav>
    <div class="row columns">
    <div class="top-bar">
        <div class="top-bar-title">Midwest PHP Logo</div>
        <div>
            <div class="top-bar-left">
                <ul class="menu">
                    <li><a href="speakers.html">Speakers</a></li>
                    <li><a href="schedule.html">Schedule</a></li>
                    <li><a href="sessions.html">sessions</a></li>
                    <li><a href="venue.html">Venue</a></li>
                    <li><a href="sponsors.html">Sponsors</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <button class="button hollow"><i class="fi-social-twitter"></i> Follow</button>
            </div>
        </div>
    </div>
    </div>
</nav>