<section class="speakers-container">
    <div class="row">
        <div class="small-centered small-10">
            <div class="clearfix">
                <div class="float-left">
                    <h3>Keynotes
                        <small>.</small>
                    </h3>
                    <p>Learn from these great folks</p>
                </div>
                <a href="speakers.html" class="button hollow float-right">All Speakers</a>
            </div>
            <div class="row">
                <div class="columns large-6 text-center">
                    <a href="/speakers/eryn-oneil.html">
                        <img class="thumbnail" src="{{root}}/assets/img/speakers/Eryn.O'Neil5466972e1cd23.jpg" alt="Photo of Eryn O'Neil.">
                    </a>
                    <p>
                        <strong><a href="/speakers/eryn-oneil.html">Eryn O'Neil</a></strong><br />
                    </p>
                </div>
                <div class="columns large-6 text-center">
                    <a href="/speakers/gary-hockin.html">
                        <img class="thumbnail" src="{{root}}/assets/img/speakers/KUm69fK8UwspVIOk6iuhWcUj99v9ZZNjrL9gUaHp.jpeg" alt="Photo of Gary Hockin.">
                    </a>
                    <p>
                        <strong><a href="/speakers/gary-hockin.html">Gary Hockin</a></strong><br />
                        JetBrains
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
