<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large" data-options="scrolltop: false">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar stacked-for-small" id="main-menu" style="overflow: visible;">
    <div class="top-bar-menu-wrapper">
        <div class="top-bar-left" style="position: absolute; right: 0;">
            <div class="row">
                <div class="columns large-2 large-offset-1 show-for-large">
                    <img src="{{root}}/assets/img/logo.svg" alt="Midwest PHP Logo">
                </div>
                <div class="columns large-6">
                    <ul class="menu vertical large-horizontal">
                        <li><a href="index.html" class="hide-for-large">Home</a></li>
                        <li><a href="speakers.html">Speakers</a></li>
                        <li><a href="schedule.html">Schedule</a></li>
                        <li><a href="sessions.html">Sessions</a></li>
                        <li><a href="venue.html">Venue</a></li>
                        <li><a href="sponsors.html">Sponsors</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </div>
                <div class="columns large-2 end">
                    <ul class="menu">
                        <li>
                            <a href="https://twitter.com/midwestphp" target="_blank" class="button hollow">
                                <i class="fi-social-twitter"></i> Follow
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>