<div class="row">
    <div class="columns large-2 hide-for-small-only">
        <img src="{{root}}/assets/img/logo.svg" alt="Midwest PHP Logo">
    </div>
    <div class="columns large-6">
        <ul class="menu vertical medium-horizontal">
            <li><a href="">Speakers</a></li>
            <li><a href="">Schedule</a></li>
            <li><a href="">Sessions</a></li>
            <li><a href="">Venue</a></li>
            <li><a href="">Sponsors</a></li>
            <li><a href="">Register</a></li>
        </ul>
    </div>
    <div class="columns large-2">
        <ul class="menu">
            <li>
                <a href="https://twitter.com/midwestphp" target="_blank" class="button hollow">
                    <i class="fi-social-twitter"></i> Follow
                </a>
            </li>
        </ul>
    </div>
</div>