<section class="sponsors-container">
    <div class="row">
        <div class="small-centered small-10">
            <div class="clearfix">
                <div class="float-left">
                    <h3>Our Sponsors<small>.</small></h3>
                    <p>We are proud to partner with these amazing folks</p>
                </div>

                <a href="sponsors.html" class="button hollow float-right">All Sponsors</a>
            </div>

            <div class="row small-up-2 medium-up-4 large-up-6 small-collapse">
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
            </div>
        </div>
    </div>
</section>