<section class="what-to-expect">
    <div class="row">
        <div class="small-centered small-10">
            <div class="row">
                <div class="medium-6 columns">
                    <h4>What To Expect</h4>
                    <p>Midwest PHP is the FUN conference. This is our third annual conference, and each year it gets better and
                        better. Our goal is to share best practices, ideas, and techniques about building state-of-the-art
                        software applications.</p>

                    <p>The conference is at the Radisson Blu Mall of America in Bloomington, Minnesota. We can't think of a
                        better place to connect with friends, old and new, than in a relaxed environment with entertainment at
                        your front door, and inspiring talks from people doing amazing things.
                    </p>
                </div>
                <div class="medium-6 columns">
                    <h4>What's Included</h4>
                    <p>Your ticket comes with a lot more than just entrance to the conference. You'll also get free breakfast
                        and lunch each day! There will be chances to win some cool stuff each day. Tickets do NOT include a
                        hotel stay, you must book that separately. We highly suggest staying at the <a href="venue.html">Radisson
                            Blue Mall of America</a>. We have a block of rooms at a discounted price.</p>
                </div>
            </div>
        </div>
    </div>
</section>