<section class="venue-container">
    <div class="row small-collapse">
        <div class="medium-6 columns">
            <img src="{{root}}/assets/img/radisson-blu-mall9.png" alt="Radison Blu Mall of America" />
        </div>
        <div class="small-12 medium-6 columns">
            <div class="row">
                <div class="small-6 small-centered medium-6 medium-centered">
                    <div class="venue-information">
                        <h3>Venue<small>.</small></h3>
                        <p>Radisson Blu Mall of America</p>
                        <a href="venue.html" class="button hollow">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>