<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midwest PHP - {{title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>
<body>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>

            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>

            <!-- Menu -->
            <ul class="vertical menu">
                <li><a href="{{root}}index.html" class="hide-for-large">Home</a></li>
                <li><a href="{{root}}speakers.html" {{#ifpage 'speakers'}}class="active"{{/ifpage}}>Speakers</a></li>
                <li><a href="{{root}}schedule.html" {{#ifpage 'schedule'}}class="active"{{/ifpage}}>Schedule</a></li>
                <li><a href="{{root}}sessions.html" {{#ifpage 'sessions'}}class="active"{{/ifpage}}>Sessions</a></li>
                <li><a href="{{root}}venue.html" {{#ifpage 'venue'}}class="active"{{/ifpage}}>Venue</a></li>
                <li><a href="{{root}}sponsors.html" {{#ifpage 'sponsors'}}class="active"{{/ifpage}}>Sponsors</a></li>
                <li><a href="{{root}}register.html" {{#ifpage 'register'}}class="active"{{/ifpage}}>Register</a></li>
            </ul>

        </div>

        <div class="off-canvas-content" data-off-canvas-content>
            {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}

            {{> body}}

            {{> footer}}

        </div>
    </div>
</div>
<script async src="{{root}}assets/js/app.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

//    ga('create', 'UA-85805436-1', 'auto');
//    ga('send', 'pageview');
</script>
</body>
</html>
